html {
    background: #db9393;
    text-align: center;  
  }
  .svg{
    border-style: none;
  }
  .container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100%;
  }
  
  
  p{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: 0%;
    margin-left: 40%;
    text-shadow: 2px 2px #AF8D87;
  }
  
  